# Base de datos MongoDB
MONGO_HOST=mongo_sg_hospitalizacion
MONGO_PORT=27017
MONGO_DB=sg_hospitalizacion

# JWT (clave en Base64, mínimo 256 bits para HMAC-SHA256)
JWT_SECRET=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=

# Servidor
PORT=8080

# Sistema base externo (SGBITAMEDICA03)
SGBITAMEDICA_URL=http://host.docker.internal:8084
